ul {
    list-style: none;
}

a {
    text-decoration: none;
}

li {
    background-color: white;
}

h2 {

    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

    color: #2E2F42;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;
    color: #434455;
}

address {
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    position: relative;
    width: 1440px;
    height: 2590px;

    background: #FFFFFF;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* identical to box height, or 133% */

    letter-spacing: 0.03em;
    text-transform: uppercase;

    /* IRIS */

    color: #4D5AE5;

}



.logo-studio {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* identical to box height, or 133% */

    letter-spacing: 0.03em;
    text-transform: uppercase;

    /* NAVY BLUE */

    color: #2E2F42;

}

.nav a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;


}



.contacts a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.contacts a:hover {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts a:focus {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #4D5AE5;
}


.btn {
    background: #F4F4FD;
    /* CORNFLOWER */

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

    color: #4D5AE5;
    cursor: pointer;
}

.btn:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
}

.btn:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
}

.servise {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */

    letter-spacing: 0.02em;
    color: #2E2F42;
}

.servise-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;
    color: #434455;
}

.section1 {

    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;

    /* NAVY BLUE */

    background: #2E2F42;
}

.section{
    background: #F4F4FD;
}

.team {
    background: #FFFFFF;
}

.btn-main {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.04em;

    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
}

.btn-main:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.04em;
    color: #434455;
    cursor: pointer;
}

.btn-main:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
}

.text-main {

    font-size: 56px;
    line-height: 1.07;
    /* or 107% */

    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;

}

.quality {

    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */

    letter-spacing: 0.02em;

    /* NAVY BLUE */

    color: #2E2F42;
}

.quality-description {
    font-size: 16px;
    line-height: 1.5;
    /* or 150% */

    letter-spacing: 0.02em;

    /* SLATE */

    color: #434455;
}


/* Footer */

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* or 150% */

    letter-spacing: 0.02em;

    /* CORNFLOWER */

    color: #E7E9FC;
}